
// General

em, cite, i {
  font-family: $italic-font;
}
.overflow-hidden {
  overflow-y: hidden;
}

// Header
.header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 2.5rem 3rem 2.5rem;
  box-sizing: border-box;
  z-index: 1;
  pointer-events: none;
  }

.logo {
  font-size: 2.8rem;
}

.info {
  display: block;
  list-style: none;
  pointer-events: auto;
  &__item {
    display: block;
    float: left;
    margin-right: 3rem;
    padding-top: .4rem;
    &:last-child {
      margin-right: 0;
    }

  }
}


// Works

.main {
  @include container;
  max-width: 120rem;
  padding-bottom: 10rem;
}

.box {
  position: relative;
  &--green {
    background-color: $green;
  }
  &--blue {
    background-color: $blue;
  }

  &--yellow {
    background-color: $yellow;
  }

  &--front {
    padding: 4rem !important;
    transition: all 1s ease 0s;

    &--1 {
      @include span(5);
      @include push(1);
      margin-top: 18rem;
      height: 38rem;
    }
    &--2 {
      @include span(3);
      @include push(2);
      margin-top: 33rem;
      height: 40rem;
    }
    &--3 {
      @include span(7);
      @include push(3);
      margin-top: 10.5rem;
      height: 34rem;
    }

    &:hover {
      top: -1rem;
      transition: all 1s ease;
    }
  }

  &__img {
    position: absolute;
    bottom: 8rem;
    left: 0;
    right: 0;
    text-align: center;
    &--relative {
      position: relative;
      bottom: 0;
    }
    &--inside {
      left: auto;
      right: auto; 
    }
    &--1 {
      right: 10%;
      bottom: 20%;
      width: 100%;
      img {
        width: 38%;
        float: right;
      }
    }

    &--2 {
      right: 16%;
      bottom: 18%;
      width: 50%;
      img {
        width: 38%;
        float: right;
      }
    }
    img {
      margin: 0 auto;
    }
  }
}



// Show work
.overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  overflow-y: scroll;

  &__header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 2.5rem 3rem 2.5rem;
    box-sizing: border-box;
    z-index: 1;
    background-color: $white;
  }

  &__content {
    @include container;
    max-width: 120rem;
    // padding-bottom: 10rem;
    height: calc(100% - 7rem);
    margin-top: 7.8rem;
  }

  &__close {
    cursor: pointer;
  }
}

.project {
  &__header {
    font-size: 3.6rem;
    padding: 5.3rem 9rem;;
    float: left;
    height: 56rem;
    margin-bottom: 4rem;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    &__claim {
      max-width: 40rem;
      h2 {
        font-size: 3.6rem;
        color: $white;
      }
    }
    span {
      font-weight: 500;
      font-size: 2.2rem;
      line-height: 1.4;
      padding-top: 0;
      display: block;
      float: left;
      margin-bottom: 8rem;
    }
  }
}


// Typo


.h5 {
  font-weight: 800;
  color: $black;
  &--box {
    font-size: 2.2rem;
    letter-spacing: .25rem;
    display: inline-block;
    padding: 0 0 0 2rem;
    margin-bottom: .7rem;
    &--subtitle {
      font-size: 2.2rem;
      letter-spacing: .2rem;
    }
  }
}

.txt {
  &--white {
    color: $white;
  } 
  &--green {
    color: $green-text;
  }
  &--blue {
    color: $blue-text;
  }
  &--yellow {
    color: $yellow-text;
  }

}

.lnk {
  text-decoration: none;
  &:link {
    color: $black;
  }
  &:hover {
    text-decoration: underline;
    color: $black;
    cursor: pointer;
  }
}
