// Susy
$susy: (
  columns: 12,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: inside,
);

// Typo
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}

.h5 {
  &--box {
    letter-spacing: .25rem;
    color: $gray;
    display: inline-block;
    padding: 0 0 0 2rem;
    &--subtitle {
      color: $white;
      font-size: 1.8rem;
      letter-spacing: .2rem;
    }
  }
}

// Grid

.wrapper-nav {
  padding: 0;
}
