// Colors

$black          : #000000;
//$green        : #AAE8E1;
$green          : #9debe2;
$yellow         : #FFF5D7;
$yellow         : #fff4d4;
//$blue         : #C0DEFE;
$blue           : #b3def6;
$purple         : #cec8f6;
$gray           : #4F4F4F;

$green-text     : #00B0A2;
$blue-text      : #4D8FD6;
$yellow-text    : #00B0A2;



// Typo

$base-font:       'FuturaPT-Medium','Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
$italic-font:     'FuturaPT-MediumObl';