// Colors

$black          : #000000;
$green          : #AAE8E1;
$yellow         : #FFF5D7;
$blue           : #C0DEFE;
$gray           : #4F4F4F;

$green-text     : #00B0A2;
$blue-text     : #00B0A2;
$yellow-text     : #00B0A2;



// Typo

$base-font:       'Futura PT','Avenir', 'Avenir Next','Helvetica Neue','Segoe UI', 'Verdana', sans-serif;
